/* Todas las imágenes */
.row img {
    width: 100%;
    height: 250px;
    object-fit: cover;
    display: block;

}
.post-card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 6px;
    overflow: hidden;      
    margin-bottom: 40px;
    max-width: 600px;     
    margin-left: auto;
    margin-right: auto;
}


/* Header fijo */
.header-fixed {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 900;
}

/* Título del header */
.header-title {
    font-size: 28px;
    font-weight: bold;
}

/* Espaciador para que el contenido no quede debajo del header */
.header-space {
    height: 100px;
}

/* Header del post */
.post-header { 
    padding: 12px 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}

.post-image {
    width: 100%;
    height: 700px;
    object-fit: cover;
    display: block;
}
.post-footer {
    padding: 12px 16px;
    font-size: 14px;
}